@font-face {
  font-family: Kanit;
  src:url(../fonts/font-web/Kanit-Light.eot);
  src:url(../fonts/font-web/Kanit-Lightd41d.eot?#iefix) format('embedded-opentype'),
      url(../fonts/font-web/Kanit-Light.woff) format('woff'),
      url(../fonts/font-web/Kanit-Light.ttf) format('truetype'),
      url(../fonts/font-web/Kanit-Light.svg#Kanit) format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:Kanit;
  src:url(../fonts/font-web/Kanit-Regular.eot);
  src:url(../fonts/font-web/Kanit-Regulard41d.eot?#iefix) format('embedded-opentype'),
      url(../fonts/font-web/Kanit-Regular.woff) format('woff'),
      url(../fonts/font-web/Kanit-Regular.ttf) format('truetype'),
      url(../fonts/font-web/Kanit-Regular.svg#Kanit) format('svg');
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family:Kanit;
  src:url(../fonts/font-web/Kanit-Medium.eot);
  src:url(../fonts/font-web/Kanit-Mediumd41d.eot?#iefix) format('embedded-opentype'),
      url(../fonts/font-web/Kanit-Medium.woff) format('woff'),
      url(../fonts/font-web/Kanit-Medium.ttf) format('truetype'),
      url(../fonts/font-web/Kanit-Medium.svg#Kanit-Medium) format('svg');
  font-weight:500;
  font-style:normal;
}

@font-face {
  font-family:Kanit;
  src:url(../fonts/font-web/Kanit-SemiBold.eot);
  src:url(../fonts/font-web/Kanit-SemiBoldd41d.html?#iefix) format('embedded-opentype'),
      url(../fonts/font-web/Kanit-SemiBold.woff) format('woff'),
      url(../fonts/font-web/Kanit-SemiBold.ttf) format('truetype'),
      url(../fonts/font-web/Kanit-SemiBold.svg#Kanit-SemiBold) format('svg');
  font-weight:600;
  font-style:normal;
}

@font-face {
  font-family:Kanit;
  src:url(../fonts/font-web/Kanit-Bold.eot);
  src:url(../fonts/font-web/Kanit-Boldd41d.html?#iefix) format('embedded-opentype'),
      url(../fonts/font-web/Kanit-Bold.woff) format('woff'),
      url(../fonts/font-web/Kanit-Bold.ttf) format('truetype'),
      url(../fonts/font-web/Kanit-Bold.svg#Kanit-Bold) format('svg');
  font-weight:700;
  font-style:normal;
}

@font-face {
  font-family: 'Narziss-Drops';
  src: url('../fonts/font-web/Narziss-Drops.eot');
  src: url('../fonts/font-web/Narziss-Drops.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/font-web/UVFNarzissDrops.woff') format('woff'),
       url('../fonts/font-web/UVFNarzissDrops.ttf') format('truetype'),
       url('../fonts/font-web/UVFNarzissDrops.svg#UVFNarzissDrops') format('svg');
  font-weight: normal;
  font-style: normal;
}

